<div class='ring'>
  <div class='player-1 player'>
    <div class='popup-winner'>
      <i class='fa fa-thumbs-o-up'></i>Winner !!
    </div>
    <div class='popup-looser'>
      <i class='fa fa-thumbs-o-down'></i>Looser !!
    </div>
    <h3 class='name'></h3>
    <div class='img-container'>
      <img clas='avatar'>
    </div>
  </div>
  <div class='player-2 player'>
    <div class='popup-winner'>
      <i class='fa fa-thumbs-o-up'></i>Winner !!
    </div>
    <div class='popup-looser'>
      <i class='fa fa-thumbs-o-down'></i>Looser !!
    </div>
    <h3 class='name'></h3>
    <div class='img-container'>
      <img clas='avatar'>
    </div>
  </div>
</div>