.logger {
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
  }
  &.hidden {
    display: none;
  }
  position: absolute;
  height: 250px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  .content {
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 212px;
    display: inline-block;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
  }
}